1)

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2)

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

3)

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4)

In pandas, a DataFrame is a two-dimensional labeled data structure that is used to store and manipulate tabular data. It is a fundamental data structure in pandas and is analogous to a table in a relational database or a spreadsheet in Excel. A DataFrame consists of rows and columns, where each column can contain data of a different type (e.g., numerical, categorical, or textual).                                                                                         
                                                                                                
On the other hand, a pandas Series is a one-dimensional labeled array that can store data of any type. It is similar to a column in a DataFrame or a single column of data in a spreadsheet. A Series is labeled with an index, which provides a unique identifier for each element in the Series.

To illustrate the difference between a DataFrame and a Series, consider the following example:

In [4]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In this example, we create a DataFrame named 'df' with three columns: 'Name', 'Age', and 'Gender'. Each column is a pandas Series, where the 'Name' column is a Series of strings, the 'Age' column is a Series of integers, and the 'Gender' column is a Series of strings.

We also create a separate Series named 'ages' that contains only the 'Age' column from the DataFrame. It is a one-dimensional Series labeled with the index values 0, 1, and 2.

In summary, a DataFrame is a two-dimensional data structure that can store multiple columns of different types, while a Series is a one-dimensional data structure that represents a single column of data.

5)

Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some commonly used functions:

i) 'head()' and 'tail()': These functions allow you to view the first few rows ('head()') or the last few rows ('tail()') of a DataFrame. They are useful for inspecting data quickly.

In [6]:
import pandas as pd

df = pd.read_csv('data.csv')  # Assuming 'data.csv' is the file containing your data
print(df.head())  # View the first 5 rows

    name         email_id  phone_number
0   sudh   sudh@gmail.com       8436767
1  krish  krish@gmail.con     367378379

ii)'shape': It returns the dimensions of the DataFrame, i.e., the number of rows and columns.

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')  # Assuming 'data.csv' is the file containing your data
print(df.shape)  # Print the dimensions of the DataFrame

(2, 3)

iii)  'describe()': This function provides descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.

In [8]:
import pandas as pd

df = pd.read_csv('data.csv')  # Assuming 'data.csv' is the file containing your data
print(df.describe())  # Get descriptive statistics of the DataFrame

       phone_number
count  2.000000e+00
mean   1.879076e+08
std    2.538100e+08
min    8.436767e+06
25%    9.817217e+07
50%    1.879076e+08
75%    2.776430e+08
max    3.673784e+08

iv) sort_values(): It allows you to sort the DataFrame based on one or more columns. This is useful for arranging the data in a specific order.

In [10]:
import pandas as pd

df = pd.read_csv('data.csv')  # Assuming 'data.csv' is the file containing your data
sorted_df = df.sort_values('name')  # Sort the DataFrame by the 'Age' column
print(sorted_df)

    name         email_id  phone_number
1  krish  krish@gmail.con     367378379
0   sudh   sudh@gmail.com       8436767

v) 'groupby()': It enables grouping the data based on one or more columns and applying aggregate functions on those groups. It is useful for data aggregation and summarization.

In [12]:
import pandas as pd

df = pd.read_csv('data.csv')  # Assuming 'data.csv' is the file containing your data
grouped_df = df.groupby('email_id').mean()  # Group the data by 'Gender' and calculate the mean for each group
print(grouped_df)

                 phone_number
email_id
krish@gmail.con   367378379.0
sudh@gmail.com      8436767.0

/tmp/ipykernel_133/1268438330.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('email_id').mean()  # Group the data by 'Gender' and calculate the mean for each group

6)

In Pandas, the mutable nature refers to the ability to modify an object after it has been created. Among the options you provided, the only mutable object is the DataFrame. Both Series and Panel objects are immutable, meaning they cannot be modified after creation.

A DataFrame allows you to change the values of specific cells, add or remove columns, and perform various data manipulations. This mutability is one of the key features of a DataFrame that distinguishes it from a Series or Panel.

7)

To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the 'pd.DataFrame()' constructor. Each Series will represent a column in the DataFrame. Here's an example:

In [13]:
import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we created three individual Series objects: 'names', 'ages', and 'genders'. Each Series represents a column of data, with the corresponding names, ages, and genders of individuals.

We then created a dictionary 'data' with the column names as keys and the respective Series objects as values. Finally, we used the 'pd.DataFrame()' constructor to create a DataFrame 'df' by passing the 'data' dictionary.

The resulting DataFrame contains three columns: 'Name', 'Age', and 'Gender', with their corresponding values from the Series. Each row represents an individual record, and the indices start from 0.