1)

i) 'read_csv()': This function is used to read data from a CSV file and create a DataFrame.

In [2]:
import pandas as pd

# Read CSV file and create a DataFrame
df = pd.read_csv('data.csv')
print(df)

    name         email_id  phone_number
0   sudh   sudh@gmail.com       8436767
1  krish  krish@gmail.con     367378379

ii) 'head()': It returns the first n rows of a DataFrame. By default, it returns the first five rows.

In [3]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Ryan', 'Sophia', 'Oliver'],
        'Age': [25, 28, 31, 24, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Display the first three rows
print(df.head(3))

   Name  Age      City
0  John   25  New York
1  Emma   28    London
2  Ryan   31     Paris

iii) 'info()': This function provides a concise summary of a DataFrame, including information about the columns, data types, and memory usage.

In [4]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Ryan', 'Sophia', 'Oliver'],
        'Age': [25, 28, 31, 24, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Display the summary information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

iv) 'describe()': It generates descriptive statistics of a DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.

In [5]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Ryan', 'Sophia', 'Oliver'],
        'Age': [25, 28, 31, 24, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Display descriptive statistics
print(df.describe())

             Age
count   5.000000
mean   27.400000
std     2.880972
min    24.000000
25%    25.000000
50%    28.000000
75%    29.000000
max    31.000000

v) 'groupby()': This function is used for grouping data based on one or more columns and applying functions to the grouped data.

In [6]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Ryan', 'Sophia', 'Oliver'],
        'Age': [25, 28, 31, 24, 29],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney'],
        'Salary': [50000, 60000, 55000, 70000, 65000]}
df = pd.DataFrame(data)

# Group by 'City' and calculate the average salary
grouped_df = df.groupby('City')['Salary'].mean()
print(grouped_df)

City
London      60000.0
New York    50000.0
Paris       55000.0
Sydney      65000.0
Tokyo       70000.0
Name: Salary, dtype: float64

2)

To re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row, you can use the 'reset_index()' function from pandas along with some additional steps. Here's a Python function that achieves this:

In [7]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index of the DataFrame
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    
    # Assign the new index to the DataFrame
    df.index = new_index
    
    return df

In the above function, the 'reset_index()' function is used to reset the index of the DataFrame. The 'drop=True' parameter ensures that the previous index is not added as a new column in the DataFrame. Then, a new index is created using 'pd.RangeIndex()' with a start value of 1, stop value of 'len(df) * 2' (twice the length of the DataFrame), and a step value of 2 to increment by 2 for each row. Finally, the new index is assigned to the DataFrame using 'df.index = new_index'. The function returns the re-indexed DataFrame.

You can use this function as follows:

In [8]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

# Re-index the DataFrame
reindexed_df = reindex_dataframe(df)

print(reindexed_df)

   A   B   C
1  1   6  11
3  2   7  12
5  3   8  13
7  4   9  14
9  5  10  15

3)

In [9]:
import pandas as pd

def calculate_sum(df):
    # Extract the 'Values' column as a Series
    values_column = df['Values']
    
    # Calculate the sum of the first three values
    sum_first_three = values_column.head(3).sum()
    
    # Print the sum to the console
    print("Sum of the first three values:", sum_first_three)

In the above function, the 'Values' column is extracted from the DataFrame as a Series using 'df['Values']'. Then, the 'head(3)' method is used to get the first three values from the Series, and the 'sum()' function calculates their sum. Finally, the result is printed to the console using 'print()'.

In [11]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate the sum of the first three values
calculate_sum(df)

Sum of the first three values: 60

4)

In [12]:
import pandas as pd

def add_word_count(df):
    # Split the 'Text' column by whitespace to get individual words
    words = df['Text'].str.split()
    
    # Count the number of words in each row
    word_count = words.apply(len)
    
    # Add the 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_count

In [13]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Text': ['Hello, how are you?', 'I am doing well.', 'Python is great!']}
df = pd.DataFrame(data)

# Add the 'Word_Count' column
add_word_count(df)

print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1     I am doing well.           4
2     Python is great!           3

5)

The 'DataFrame.size' and 'DataFrame.shape' attributes in pandas provide different information about the DataFrame.

'DataFrame.size':

'DataFrame.size' returns the total number of elements in the DataFrame, which is the product of the number of rows and the number of columns.
It represents the total count of all values, including missing or NaN values, in the DataFrame.
The 'size' attribute returns a single integer value.
It can be accessed using 'df.size' (where 'df' is the DataFrame).                                                                                                                                                                                                              
'DataFrame.shape':

'DataFrame.shape' returns a tuple that represents the dimensions of the DataFrame.
It provides the number of rows and columns in the DataFrame.
The 'shape' attribute returns a tuple in the format (num_rows, num_columns).
It can be accessed using 'df.shape' (where 'df' is the DataFrame).
Here's an example to illustrate the difference:

In [14]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Print the size of the DataFrame
print("Size:", df.size)

# Print the shape of the DataFrame
print("Shape:", df.shape)

Size: 6
Shape: (3, 2)

In the above example, the DataFrame 'df' has 3 rows and 2 columns. Therefore, 'df.size' returns 6, which is the total number of elements in the DataFrame. On the other hand, 'df.shape' returns the tuple (3, 2), indicating that the DataFrame has 3 rows and 2 columns.

6)

n pandas, we use the function 'read_excel()' to read an Excel file. This function allows us to read data from one or multiple sheets of an Excel file into a pandas DataFrame.

7)

In [15]:
import pandas as pd

def extract_username(df):
    # Extract the username from each email address using str.split() and str.get() methods
    df['Username'] = df['Email'].str.split('@').str.get(0)

In [16]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'robert.johnson@example.com']}
df = pd.DataFrame(data)

# Extract the username and add it to the 'Username' column
extract_username(df)

print(df)

                        Email        Username
0        john.doe@example.com        john.doe
1      jane.smith@example.com      jane.smith
2  robert.johnson@example.com  robert.johnson

8)

In [17]:
import pandas as pd

def select_rows(df):
    # Filter the DataFrame based on the conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)].copy()
    
    # Return the selected rows as a new DataFrame
    return selected_rows

In [18]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'A': [0, 3, 8, 6, 2, 9],
        'B': [5, 1, 2, 9, 3, 1],
        'C': [1, 2, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select the rows where A > 5 and B < 10
selected_df = select_rows(df)

print(selected_df)

   A  B  C
2  8  2  7
3  6  9  4
5  9  1  2

9)

In [19]:
import pandas as pd

def calculate_stats(df):
    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    
    # Print the calculated statistics
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_value)

In [20]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Values': [2, 4, 6, 8, 10]}
df = pd.DataFrame(data)

# Calculate the statistics
calculate_stats(df)

Mean: 6.0
Median: 6.0
Standard Deviation: 3.1622776601683795

10)

In [22]:
import pandas as pd

def calculate_moving_average(df):
    # Calculate the moving average using rolling window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

In [23]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Date': pd.date_range(start='2023-05-01', periods=10),
        'Sales': [10, 15, 12, 20, 18, 16, 14, 19, 13, 17]}
df = pd.DataFrame(data)

# Calculate the moving average
calculate_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2023-05-01     10      10.000000
1 2023-05-02     15      12.500000
2 2023-05-03     12      12.333333
3 2023-05-04     20      14.250000
4 2023-05-05     18      15.000000
5 2023-05-06     16      15.166667
6 2023-05-07     14      15.000000
7 2023-05-08     19      16.285714
8 2023-05-09     13      16.000000
9 2023-05-10     17      16.714286

12)

In [48]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Filter the DataFrame based on the date range
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')].copy()
    
    # Return the selected rows
    return selected_rows

In [49]:
# Example usage
import pandas as pd

# Create a sample DataFrame
data = {'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']}
df = pd.DataFrame(data)

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)

print(selected_df)

        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

13)

To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the 'pandas' library itself.

You can import the pandas library using the following statement:

In [50]:
import pandas as pd

By convention, the 'pd' alias is commonly used when importing the pandas library. It allows you to reference pandas functions and objects using the 'pd' prefix, making the code more concise and readable.

Once you have imported the pandas library, you can access its functions, classes, and other functionality to perform various data manipulation and analysis tasks using pandas DataFrames and Series.